@import "./variables.scss";

//button
.button {
  display: inline-block;
  height: 4rem;
  margin: 0 0.2rem 1.5rem;
  padding: 0 2rem;
  width: auto;
  background: none;
  overflow: visible;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.1s ease-out;
  font-size: 1.4rem;
  font-weight: 600;
  color: inherit;
  line-height: 4rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 0.4rem;
  border-style: solid;
  border-width: 0.1rem;
  color: #fff;
}

.button:focus,
.button:hover {
  opacity: 0.85;
  cursor: pointer;
  transform: scale(1.025);
}

.button-round {
  border-radius: 2.4rem;
}

.button-shadow {
  box-shadow: 0 0.2rem 0.4rem #bdbdbd;
}

.button-small {
  height: 3rem;
  line-height: 3rem;
  padding: 0 1.5rem;
  font-size: 1.2rem;
}

.button-primary {
  border-color: $primaryColor;
  background-color: $primaryColor;
}

.button-primary-outlined {
  background-color: #fff;
  color: $primaryColor;
  border-color: $primaryColor;
}

.button-secondary {
  border-color: $secondaryColor;
  background-color: $secondaryColor;
}

.button-secondary-outlined {
  background-color: #fff;
  color: $secondaryColor;
  border-color: $secondaryColor;
}
// end of button

/*** Table Styles **/
.table-fill {
  background: white;
  border-radius: 0.3rem;
  border-collapse: collapse;
  margin: auto;
  padding: 0.5rem;
  width: 100%;
  box-shadow: 0 5rem 1rem rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  color: #d5dde5;
  background: $primaryColor;
  border-bottom: 0.4rem solid #9ea7af;
  border-right: 0.1rem solid #343a45;
  font-size: 1.6rem;
  font-weight: 100;
  padding: 1.8rem;
  text-align: left;
  text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius: 0.3rem;
}

th:last-child {
  border-top-right-radius: 0.3rem;
  border-right: none;
}

tr {
  border-top: 0.1rem solid #c1c3d1;
  border-bottom: 0.1rem solid #c1c3d1;
  color: #666b85;
  font-size: 1.6rem;
  font-weight: normal;
  text-shadow: 0 0.1rem 0.1rem rgba(256, 256, 256, 0.1);
}

tr:hover td {
  background: #4e5066;
  color: #ffffff;
  border-top: 0.1rem solid #22262e;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

tr:nth-child(odd) td {
  background: #ebebeb;
}

tr:nth-child(odd):hover td {
  background: #4e5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 0.3rem;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 0.3rem;
}

td {
  background: #ffffff;
  padding: 1rem;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 1.6rem;
  text-shadow: -0.1rem -0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  border-right: 0.1rem solid #c1c3d1;
}

td:last-child {
  border-right: 0;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
.add-board {
  .button {
    margin-bottom: 0;
  }
  &:hover {
    background-color: none;
  }
}
/*** Table Styles end **/

// Popup
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: 9999;
  display: none;
  &.popup-open {
    visibility: visible;
    opacity: 1;
    display: flex;
    transition: opacity 500ms;
  }
  .popup {
    margin: auto;
    padding: 3rem;
    background: $lightBgColor;
    border-radius: $smallBorderRadius;
    width: 65%;
    position: relative;
    transition: all 3s ease-in-out;
    min-height: 30rem;
    h2 {
      margin-bottom: 1.6rem;
      font-size: 2rem;
      margin-top: 0;
      color: $textColor;
    }
    .close {
      position: absolute;
      top: 1.6rem;
      right: 1.6rem;
      transition: all 200ms;
      font-size: 3rem;
      font-weight: bold;
      text-decoration: none;
      color: $textColor;
    }
    .close:hover {
      color: red;
    }
    .content {
      max-height: 30%;
      overflow: auto;
    }
  }
}
// end of Popup

// Inline Edit
.inline-input-wrap {
  font-size: 1em;
  border: 0.1rem solid $lightBorderColor;
  display: block;
  // min-width: 12rem;
  min-height: 1.5em;
  padding: 0.25em;
  margin: 0;
  line-height: 1.5em;
  background-color: $lightBgColor;
  border-radius: $smallBorderRadius;
  cursor: pointer;
  .inline-input-value {
    height: 1.5em;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  form {
    margin: 0;
    height: 0;
    display: block;
    position: relative;
    padding-right: 1.5em;
    height: 100%;
    background-color: #ffffff;
    input {
      border: 0 none;
      line-height: 1.5em;
      width: 100%;
      outline: none;
      background-color: transparent;
      &.error {
        border-bottom: 0.1rem solid red;
      }
    }
    .inputErrorIcon {
      color: red;
      position: absolute;
      right: 0.5rem;
      top: calc(50% - 0.5rem);
    }
  }
  &.text-area {
    border: 0 none;
    form {
      height: auto;
      textarea {
        overflow: auto;
        outline: none;
        width: 100%;
        border: 0 none;
        height: 100%;
        resize: none;
      }
      .submit-btn {
        float: right;
      }
      &::after {
        content: "";
        clear: both;
        display: block;
        height: 0.25rem;
      }
    }
    .inline-input-value {
      white-space: normal;
      overflow: auto;
      height: auto;
    }
  }
}
// end of inline-edit component

// boards
.boards {
  font-size: 12px;
  table.boards-list tbody tr:last-child {
    border-top: 0.1rem solid $lightBorderColor;
  }
  .fav {
    color: red;
  }
}

.board-info-bar {
  .board-title > h2.board-name {
    > .inline-input-wrap {
      background: transparent;
      border: 0 none;
      form {
        background-color: rgb(255 255 255 / 70%);
        > input {
          font-size: 1em;
        }
      }
    }
  }
}

// list/Swimlane
.list {
  min-height: 20rem;
  > h3.list-title {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: baseline;
    justify-content: space-between;
    .inline-input-wrap {
      background: transparent;
      border: 0;
      line-height: inherit;
      min-height: auto;
      form {
        min-height: fit-content;
        height: fit-content;
        border-radius: $smallBorderRadius;
        padding: 0.25rem 1rem;
        input {
          font-size: 1.4rem;
          font-weight: bold;
        }
      }
    }
    > .actions {
      .overflow {
        ul {
          font-size: 1.4rem;
          font-weight: normal;
        }
      }
    }
  }
  .list-items {
    > .add-flow-wrap {
      margin: 0.5rem 0;
      > .inline-input-wrap {
        line-height: 1rem;
        background-color: transparent;
        height: fit-content;
        min-height: auto;
      }
    }
    > li.task {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      .inline-input-wrap {
        flex-grow: 1;
        background-color: transparent;
        border: 0 none;
        font-size: 1.5rem;
        min-height: auto;
        height: fit-content;
        width: 10rem;
        > form {
          background-color: $lightBgColor1;
          padding: 0.25rem 0.5rem;
          input {
            font-size: 1.4rem;
          }
        }
        .inline-input-value {
          padding: 0.25rem 0.5rem;
        }
      }
    }
    .add-card-btn,
    .add-flow-wrap {
      margin-top: 2rem;
    }
  }
}

// add Flow
.add-flow-wrap {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  .inline-input-wrap {
    flex-grow: 1;
  }
  .button {
    margin-left: 0.5rem;
    margin-bottom: 0;
    .fa,
    .fas {
      font-size: 1.4rem;
      line-height: 1.5rem;
    }
  }
}

// Action
.actions {
  position: relative;
  font-size: 1.4rem;
  line-height: 1.8rem;
  i {
    padding: 1rem;
  }
  i.opened {
    box-shadow: 0.1rem 0.1rem 0.1rem 0px $shadowColor;
    background-color: $lightBgColor1;
  }
  .overflow {
    background-color: $lightBgColor1;
    position: absolute;
    min-width: 12rem;
    max-width: 20rem;
    min-height: 5rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0px $shadowColor;
    border-radius: $smallBorderRadius;
    padding: 1rem;
    right: 0;
    border: 0;
    z-index: 999;
    ul {
      list-style: none;
      li {
        padding: 0.5rem 0.75rem;
        cursor: pointer;
        &:hover {
          background-color: $primaryColor;
          color: $darkBgTextColor;
        }
      }
    }
  }
}

// drag and drop
.drag-over {
  background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      #ccc 10px,
      #ccc 20px
    ),
    linear-gradient(to bottom, #eee, #d6d6d6);
}
.drag-hidden {
  visibility: hidden;
}
