$lightBorderColor: #9b9b9b;
$lightBgColor: #f1f1f1;
$lightBgColor1: #e3e3e3;
$darkBgTextColor: #ffffff;
$textColor: #333333;
$primaryColor: #096fe4;
$secondaryColor: #f39c39;
$smallBorderRadius: 0.2rem;
$shadowColor: #838383;
